{{ define "content" }}
{{ if .ErrorMessage}}
<div class="notification is-warning">
  {{ .ErrorMessage }}
</div>
{{ end }}

<h2 class="title is-2">Messages for {{ .Number }}</h2>
{{ range .Messages }}
<pre>
From:  {{ .Source }}
To:  {{ .Recipient }}
On:  {{ .Timestamp }}
Body: {{ .Body}}
</pre>
<br/>
{{ end }}

<a href="/account">Back</a>
{{ end }}
